
<div class="thumbnail" style="padding: 15vh; ">


    <%= form_with(model: stock, local: true, class:'form-horizontal') do |form| %>
    <% if stock.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>
  
        <ul>
        <% stock.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :productType, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.text_field :productType, class:"form-control" %>
      </div>
      
    </div>
  
    <div class="form-group">
      <%= form.label :liters, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.number_field :liters, class:"form-control" %>
      </div>
      
    </div>
  
    <div class="form-group">
      <%= form.label :total, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.text_field :total, class:"form-control" %>
      </div>
      
    </div>
  
    <div class="form-group">
      <% form.label :user_id, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.text_field :user_id, value:@current_user.id, class:"form-control",type:"hidden" %>
      </div>
      
    </div>
  
    <div class="form-group col-md-9 ">
      <div  class="col-md-offset-5">
          <%= form.submit "Add", class:'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
  


</div>







 

  

  

 

 

