









 <div class="signup">
            <div class="container">
                    
                    <div class="col-md-12 mainlog">
                        <div class="row">
                                <div class="col-md-6 col-sm-12" >
                                  
                                        
                                    <h1 align='center'>Sign up</h1><br>

                                        <div class="card col-md-12 " style="padding: 4vh;margin-top:10vh; background:#11070770;margin-bottom: 10vh; ">
                                   
                                         
                                            

                                              <%= form_with(model: user, local: true) do |form| %>
                                              <% if user.errors.any? %>
                                                <div id="error_explanation">
                                                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                                            
                                                  <ul>
                                                  <% user.errors.full_messages.each do |message| %>
                                                    <li><%= message %></li>
                                                  <% end %>
                                                  </ul>
                                                </div>
                                              <% end %>
                                            
                                              <div class="form-group">
                                                <%= form.label :firstname %>
                                                <%= form.text_field :firstname,
                                                class:'form-control',placeholder:'Enter First Name' %>
                                              </div>
                                            
                                              <div class="field">
                                                <%= form.label :lastname %>
                                                <%= form.text_field :lastname, class:'form-control',placeholder:'Enter Last Name' %>
                                              </div>
                                            
                                              <div class="field">
                                                <%= form.label :email %>
                                                <%= form.text_field :email, class:'form-control',placeholder:'Enter your Email' %>
                                              </div>
                                            
                                              <div class="field">
                                                <%= form.label :password %>
                                                <%= form.password_field :password, class:'form-control',placeholder:'Create A Password' %>
                                              </div>
                                            
                                              <div class="field">
                                                <%= form.label :password_confirmation %>
                                                <%= form.password_field :password_confirmation, class:'form-control',placeholder:'Confirm your Password' %>
                                              </div>
                                            
                                              <div class="actions">
                                                <%= form.submit 'Sign Up', class:'btn btn-success btn-block' %>
                                              </div>
                                            <% end %>
                                       
                                          
                                    </div>
                                </div>
        
        
        
                                <div class="col-md-6 hidden-sm hidde-xs ">

                                    <div class="col-md-2" style="margin-top: 35vh">
                                                    <h1 style="color: white">OR</h1>
                                    </div>

                                    <div class="col-md-10 signup" style="margin-top: 35vh; ">
                                            <%= link_to  "Log in", login_path,class:'btn btn-success btn-block btn-lg signup-link'  %>
                                    </div>

                                    
        
                
                               </div>
        
        
            
                        </div>
        
                            
                            
                            
        
                    </div>
                    
            </div>
        </div>

