<div class="thumbnail" style="padding: 15vh;">


    <%= form_with(model: transaction, local: true, class:"form-horizontal") do |form| %>

    <%= render  "tools/error", obj:@transaction %>
    <div class="form-group">
      <%= form.label :productType, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.text_field :productType, class:"form-control" %>
      </div>
      
    </div>
  
    <div class="form-group">
      <%= form.label :liters, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.number_field :liters, class:"form-control" %>
      </div>
      
    </div>
  
    <div class="form-group">
      <%= form.label :vehicleNumber, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.text_field :vehicleNumber, class:"form-control" %>
      </div>
      
    </div>

    <div class="form-group">
        <%= form.label :image, class:"col-md-3 control-label" %>
        <div class="col-md-7">
            <%= form.file_field :image, class:"form-control" %>
        </div>
        
      </div>
  
    <div class="form-group">
      <% form.label :user_id, class:"col-md-3 control-label" %>
      <div class="col-md-7">
          <%= form.text_field :user_id, value:@current_user.id, class:"form-control",type:"hidden" %>
      </div>
      
    </div>
  
    <div class="form-group col-md-9 ">
      <div  class="col-md-offset-5">
          <%= form.submit "Add", class:'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
  <% end %>
  


</div>