<div class="page">
    <div class="container">
        <%= render  "tools/messages" %>

        <p>
          <strong>Producttype:</strong>
          <%= @transaction.productType %>
        </p>
        
        <p>
          <strong>Liters:</strong>
          <%= @transaction.liters %>
        </p>
        
        <p>
          <strong>Vehiclenumber:</strong>
          <%= @transaction.vehicleNumber %>
        </p>
       
            <%= image_tag(@transaction.image.url, alt: 'Image') if @transaction.image? %>
         
        
        <p>
          <strong>User:</strong>
          <%= @transaction.user.firstname %>
          <%= @transaction.user.lastname %>
        </p>
        
        <%= link_to 'Edit', edit_transaction_path(@transaction) %> |
        <%= link_to 'Back', transactions_path %>
    </div>
    
</div>