<div class="page">
  <div class="container">
      <%= render  "tools/messages" %>
     
     

      <p>
        <strong>Productname:</strong>
        <%= @product.productName %>
      </p>
      
      <p>
        <strong>Productprice:</strong>
        <%= @product.productPrice %>
      </p>
      
      <p>
        <strong>User:</strong>
        <%= @product.user.firstname %>
        <%= @product.user.lastname %>
      </p>
      
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
      
  </div>
</div>